---
import Layout from '../layouts/Layout.astro';
import {Shades} from "./../components/react/Shades";
import {OptionsDock} from "./../components/react/OptionsDock";
import ColorForm from '../components/ColorForm.astro';
import AppFooter from '../components/AppFooter.astro';
import TailusExample from "../components/examples/TailusExample";
---

<Layout title="Spectr">
	<main class="relative overflow-y-auto snap-y snap-mandatory h-screen scroll-smooth">
		<div class="relative z-10 snap-center flex justify-center items-center min-h-screen dark:bg-gray-900/50" id="home">
			<div class="space-y-6 h-fit my-auto">
				<div class="space-y-6">
					<ColorForm />
					<div class="w-fit mx-auto">
						<span class="mb-3 block font-medium text-sm text-gray-950 dark:text-white">Primary</span>
						<Shades color='primary' client:load />
					</div>
					<div class="hidden w-fit mx-auto">
						<span class="mb-3 block font-medium text-sm text-gray-950 dark:text-white">Secondary</span>
						<Shades color='secondary' client:load />
					</div>
					<div class="hidden w-fit mx-auto">
						<span class="mb-3 block font-medium text-sm text-gray-950 dark:text-white">Accent</span>
						<Shades color='accent' client:load />
					</div>
					<div class="w-fit mx-auto">
						<span class="mb-3 block font-medium text-sm text-gray-950 dark:text-white">Gray</span>
						<Shades color='gray' client:load />
					</div>
				</div>
			</div>
		</div>
		<div class="px-7 2xl:max-w-[92rem] w-full mx-auto relative z-10 snap-center py-16 min-h-screen dark:bg-gray-900/50" id="tailus-ui">
			<TailusExample client:visible />
		</div>
		<div class="relative z-10 snap-center flex justify-center items-center min-h-screen dark:bg-gray-900/50" id="nuxt-ui">
			<span>Nuxt UI</span>
		</div>
		<div class="relative z-10 snap-center flex justify-center items-center min-h-screen dark:bg-gray-900/50" id="shadcn-ui">
			<span>ShadCn</span>
		</div>
		<div class="fixed z-50 bottom-6 inset-x-0 mx-auto w-fit">
			<OptionsDock client:idle />
		</div>
	</main>
	<AppFooter />
</Layout>