---
import Layout from '../layouts/Layout.astro';
import {Shades} from "./../components/react/Shades";
import {OptionsDock} from "./../components/react/OptionsDock";
import ThemeSwitcher from "./../components/react/ThemeSwitcher";
import {Button} from "./../components/react/DockButton";
---

<Layout title="Spectr">
	<header class="relative z-10 -mx-4 pb-2 h-fit -translate-y-16 hover:translate-y-0 duration-150 delay-75">
		<div class="bg-gray-950/50 backdrop-blur-xl border-b border-white/5 px-4 w-full py-0.5 my-auto mx-auto flex items-center gap-2 justify-between">
			<div class="flex items-center -ml-3">
				<a href="/" class="px-3 py-0.5 rounded-md hover:bg-white/10">
					<svg class="relative size-6 transition duration-300 text-white" width="32" height="32" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="40" cy="31" r="5" fill="currentColor"/>
						<circle cx="59" cy="31" r="5" fill="currentColor"/>
						<circle opacity={0.75} cx="40" cy="50" r="5" fill="currentColor"/>
						<circle opacity={0.75} cx="59" cy="50" r="5" fill="currentColor"/>
						<circle opacity={0.50} cx="40" cy="69" r="5" fill="currentColor"/>
						<circle opacity={0.50} cx="59" cy="69" r="5" fill="currentColor"/>
					</svg>
				</a>
				<div class="flex text-sm">
					<a href="https://github.com/Meschacirung/spectr" class="px-2 py-0.5 rounded-md hover:bg-white/10 text-gray-200 hover:text-white">Github</a>
					<a href="" class="px-3 py-0.5 rounded-md hover:bg-white/10 text-gray-200 hover:text-white">X / Twitter</a>
					<a href="" class="px-3 py-0.5 rounded-md hover:bg-white/10 text-gray-200 hover:text-white">Threads</a>
					<a href="" class="px-3 py-0.5 rounded-md hover:bg-white/10 text-gray-200 hover:text-white">LinkedIn</a>
				</div>
			</div>
			<a href="" class="px-3 py-0.5 rounded-md hover:bg-gray-800 text-gray-200 hover:text-white text-sm">Built by Méschac Irung</a>
		</div>
		<div class="px-6 py-2.5 bg-white shadow dark:bg-gray-900">
			<div class="flex gap-2">
				<span class="block size-2.5 rounded-full border border-gray-950/10 dark:border-white/10 bg-danger-600 dark:bg-danger-500"></span>
				<span class="block size-2.5 rounded-full border border-gray-950/10 dark:border-white/10 bg-warning-600 dark:bg-warning-500"></span>
				<span class="block size-2.5 rounded-full border border-gray-950/10 dark:border-white/10 bg-success-600 dark:bg-success-500"></span>
			</div>
		</div>
	</header>
	<main class="relative overflow-y-auto snap-y snap-mandatory h-[calc(100vh-12rem)]">
		<div class="fixed z-50 bottom-8 inset-x-0 mx-auto flex gap-4 w-fit">
			<div class="px-4 py-2 flex border rounded-2xl shadow-md shadow-gray-950/5 bg-white/50 dark:bg-gray-900/25 backdrop-blur-2xl dark:border-[--ui-dark-border-color]">
				<div class="flex items-center justify-between h-fit my-auto gap-12">
					<div>
						<div class="flex gap-1">
							<label for="color" class="block size-6 rounded-full bg-primary-600 has-[:focus]:outline">
								<input class="opacity-0 size-0 appearance-none  p-0" type="color" id="color" name="color" style="-webkit-appearance:none;">
							</label>
							
							<input class="h-6 px-2 py-1 border w-20 text-xs rounded-full bg-transparent dark:border-gray-800 dark:text-white" placeholder="HEX" type="text" value="#000987">
						</div>
					</div>
				</div>
			</div>
			<OptionsDock client:idle />
		</div>
		<div class="relative z-10 snap-center py-16 flex justify-center items-center h-[calc(100%-2px)] mx-px" id="home">
			<div class="space-y-6 h-fit my-auto">
				<div class="space-y-6">
					<svg class="hidden h-6 mx-auto translate-y-0.5 w-fit text-gray-950 dark:text-white" viewBox="0 0 232 59" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5Z" fill="currentColor"/>
						<path d="M29 5C29 7.76142 26.7614 10 24 10C21.2386 10 19 7.76142 19 5C19 2.23858 21.2386 0 24 0C26.7614 0 29 2.23858 29 5Z" fill="currentColor"/>
						<path opacity="0.75" d="M10 24C10 26.7614 7.76142 29 5 29C2.23858 29 0 26.7614 0 24C0 21.2386 2.23858 19 5 19C7.76142 19 10 21.2386 10 24Z" fill="currentColor"/>
						<path opacity="0.75" d="M29 24C29 26.7614 26.7614 29 24 29C21.2386 29 19 26.7614 19 24C19 21.2386 21.2386 19 24 19C26.7614 19 29 21.2386 29 24Z" fill="currentColor"/>
						<path opacity="0.5" d="M10 43C10 45.7614 7.76142 48 5 48C2.23858 48 0 45.7614 0 43C0 40.2386 2.23858 38 5 38C7.76142 38 10 40.2386 10 43Z" fill="currentColor"/>
						<path opacity="0.5" d="M29 43C29 45.7614 26.7614 48 24 48C21.2386 48 19 45.7614 19 43C19 40.2386 21.2386 38 24 38C26.7614 38 29 40.2386 29 43Z" fill="currentColor"/>
						<path d="M77.12 1.992C79.5947 1.992 81.7387 2.28 83.552 2.856C85.3867 3.41067 86.8373 4.008 87.904 4.648C88.9707 5.26666 89.6107 5.672 89.824 5.864L86.464 11.336C86.144 11.0587 85.568 10.6747 84.736 10.184C83.9253 9.672 82.9227 9.21333 81.728 8.808C80.5547 8.40266 79.2427 8.2 77.792 8.2C75.616 8.2 73.888 8.62666 72.608 9.48C71.328 10.312 70.688 11.528 70.688 13.128C70.688 14.1947 71.0293 15.1333 71.712 15.944C72.3947 16.7547 73.3653 17.512 74.624 18.216C75.904 18.92 77.4293 19.6347 79.2 20.36C80.6933 20.9787 82.144 21.6827 83.552 22.472C84.9813 23.2613 86.2613 24.1893 87.392 25.256C88.5227 26.3227 89.4187 27.56 90.08 28.968C90.7627 30.376 91.104 31.9973 91.104 33.832C91.104 35.752 90.7093 37.4587 89.92 38.952C89.1307 40.424 88.0427 41.672 86.656 42.696C85.2693 43.6987 83.6693 44.4667 81.856 45C80.064 45.512 78.144 45.768 76.096 45.768C73.408 45.768 70.9867 45.448 68.832 44.808C66.6987 44.1467 64.9707 43.464 63.648 42.76C62.3253 42.0347 61.5573 41.5653 61.344 41.352L64.896 35.624C65.152 35.8373 65.6213 36.1573 66.304 36.584C67.008 36.9893 67.872 37.4267 68.896 37.896C69.92 38.344 71.0507 38.728 72.288 39.048C73.5467 39.3467 74.848 39.496 76.192 39.496C78.7733 39.496 80.7253 38.9413 82.048 37.832C83.3707 36.7013 84.032 35.2507 84.032 33.48C84.032 32.136 83.6053 30.9733 82.752 29.992C81.92 28.9893 80.768 28.0827 79.296 27.272C77.8453 26.4613 76.192 25.6613 74.336 24.872C72.4373 24.04 70.6773 23.1013 69.056 22.056C67.456 21.0107 66.1653 19.7413 65.184 18.248C64.2027 16.7333 63.712 14.8987 63.712 12.744C63.712 10.5893 64.32 8.712 65.536 7.112C66.7733 5.49066 68.4053 4.232 70.432 3.336C72.4587 2.44 74.688 1.992 77.12 1.992Z" fill="currentColor"/>
						<path d="M104.422 58.312H97.6375V18.728H104.518V23.304C104.752 22.664 105.296 21.928 106.149 21.096C107.024 20.264 108.176 19.5387 109.605 18.92C111.035 18.28 112.667 17.96 114.502 17.96C116.976 17.96 119.141 18.5573 120.997 19.752C122.875 20.9253 124.336 22.5573 125.382 24.648C126.448 26.7387 126.982 29.1493 126.982 31.88C126.982 34.6107 126.438 37.0213 125.35 39.112C124.262 41.2027 122.758 42.8347 120.838 44.008C118.939 45.1813 116.752 45.768 114.277 45.768C112.336 45.768 110.651 45.416 109.221 44.712C107.792 43.9867 106.672 43.176 105.862 42.28C105.051 41.384 104.571 40.6693 104.422 40.136V58.312ZM120.229 31.88C120.229 30.1947 119.877 28.7227 119.174 27.464C118.469 26.2053 117.531 25.2347 116.357 24.552C115.205 23.848 113.936 23.496 112.549 23.496C111.056 23.496 109.702 23.8587 108.486 24.584C107.27 25.288 106.299 26.2693 105.574 27.528C104.87 28.7653 104.518 30.216 104.518 31.88C104.518 33.544 104.87 35.0053 105.574 36.264C106.299 37.5013 107.27 38.472 108.486 39.176C109.702 39.88 111.056 40.232 112.549 40.232C113.936 40.232 115.205 39.8907 116.357 39.208C117.531 38.5253 118.469 37.5547 119.174 36.296C119.877 35.0373 120.229 33.5653 120.229 31.88Z" fill="currentColor"/>
						<path d="M137.247 33.48C137.29 34.8667 137.62 36.1147 138.239 37.224C138.858 38.3333 139.764 39.208 140.959 39.848C142.175 40.4667 143.658 40.776 145.407 40.776C146.922 40.776 148.223 40.5733 149.311 40.168C150.42 39.7413 151.338 39.24 152.063 38.664C152.788 38.0667 153.322 37.512 153.663 37L156.703 41.128C156.042 42.024 155.21 42.824 154.207 43.528C153.204 44.232 151.956 44.776 150.463 45.16C148.991 45.5653 147.167 45.768 144.991 45.768C142.132 45.768 139.647 45.1813 137.535 44.008C135.423 42.8347 133.78 41.1813 132.607 39.048C131.455 36.9147 130.879 34.4187 130.879 31.56C130.879 29 131.412 26.696 132.479 24.648C133.546 22.5787 135.092 20.9467 137.119 19.752C139.167 18.5573 141.62 17.96 144.479 17.96C147.146 17.96 149.46 18.4933 151.423 19.56C153.386 20.6267 154.9 22.1627 155.967 24.168C157.055 26.152 157.599 28.552 157.599 31.368C157.599 31.5387 157.588 31.8907 157.567 32.424C157.567 32.9573 157.546 33.3093 157.503 33.48H137.247ZM151.199 28.488C151.178 27.8053 150.943 27.0267 150.495 26.152C150.068 25.2773 149.375 24.52 148.415 23.88C147.455 23.2187 146.175 22.888 144.575 22.888C142.932 22.888 141.599 23.208 140.575 23.848C139.551 24.4667 138.794 25.2133 138.303 26.088C137.812 26.9413 137.524 27.7413 137.439 28.488H151.199Z" fill="currentColor"/>
						<path d="M176.378 40.232C177.893 40.232 179.119 39.9867 180.058 39.496C181.018 38.984 181.637 38.6107 181.914 38.376L185.146 43.176C184.89 43.3893 184.357 43.7093 183.546 44.136C182.735 44.5413 181.701 44.9147 180.442 45.256C179.205 45.5973 177.797 45.768 176.218 45.768C173.615 45.768 171.247 45.224 169.114 44.136C167.002 43.0267 165.306 41.4373 164.026 39.368C162.767 37.2773 162.138 34.7707 162.138 31.848C162.138 28.904 162.767 26.3973 164.026 24.328C165.306 22.2587 167.002 20.68 169.114 19.592C171.247 18.504 173.615 17.96 176.218 17.96C177.775 17.96 179.162 18.1413 180.378 18.504C181.615 18.8453 182.639 19.24 183.45 19.688C184.261 20.136 184.805 20.488 185.082 20.744L181.786 25.544C181.637 25.3947 181.327 25.16 180.858 24.84C180.41 24.4987 179.813 24.1893 179.066 23.912C178.319 23.6347 177.423 23.496 176.378 23.496C175.098 23.496 173.871 23.8373 172.698 24.52C171.525 25.2027 170.565 26.1733 169.818 27.432C169.071 28.6693 168.698 30.1413 168.698 31.848C168.698 33.5547 169.071 35.0373 169.818 36.296C170.565 37.5547 171.525 38.5253 172.698 39.208C173.871 39.8907 175.098 40.232 176.378 40.232Z" fill="currentColor"/>
						<path d="M187.678 18.728H192.606V7.944H199.39V18.728H205.886V24.488H199.39V35.72C199.39 37.128 199.625 38.184 200.094 38.888C200.585 39.592 201.278 39.944 202.174 39.944C202.921 39.944 203.507 39.8053 203.934 39.528C204.382 39.2507 204.649 39.0587 204.734 38.952L207.262 43.912C207.134 44.04 206.761 44.2533 206.142 44.552C205.523 44.8507 204.723 45.128 203.742 45.384C202.761 45.64 201.641 45.768 200.382 45.768C198.163 45.768 196.307 45.1067 194.814 43.784C193.342 42.4613 192.606 40.392 192.606 37.576V24.488H187.678V18.728Z" fill="currentColor"/>
						<path d="M218.227 45H211.411V18.728H218.227V23.112H218.066C218.216 22.5787 218.621 21.9173 219.283 21.128C219.965 20.3173 220.904 19.592 222.098 18.952C223.293 18.2907 224.733 17.96 226.419 17.96C227.635 17.96 228.722 18.1307 229.682 18.472C230.642 18.8133 231.325 19.1547 231.73 19.496L228.979 25.128C228.701 24.7867 228.179 24.456 227.411 24.136C226.664 23.7947 225.736 23.624 224.626 23.624C223.24 23.624 222.067 24.0293 221.107 24.84C220.168 25.6507 219.453 26.6213 218.962 27.752C218.472 28.8827 218.227 29.9387 218.227 30.92V45Z" fill="currentColor"/>
					</svg>
					<div class="w-fit mx-auto">
						<span class="mb-3 hidden font-medium text-sm text-gray-950 dark:text-white">Primary</span>
						<Shades color='primary' client:load />
					</div>
					<div class="w-fit mx-auto">
						<span class="mb-3 hidden font-medium text-sm text-gray-950 dark:text-white">Gray</span>
						<Shades color='gray' client:load />
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>