<footer class="fixed bottom-6 inset-x-0 hidden md:block">
    <div class="px-7 2xl:max-w-[92rem] w-full mx-auto text-sm text-gray-600 dark:text-gray-400">
        <span>Built by <a href="" class="underline">Méschac Irung</a></span>
    </div>
</footer>