---
import AppHeader from "../components/AppHeader.astro";
import BaseHead from "./../components/BaseHead.astro";
import CodePannel from "./../components/react/ExportCode";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description='A simple color palette generator for modern applications' />
	</head>
	<body class="bg-white dark:bg-gray-950 overflow-hidden">
		<AppHeader />
		<slot />
		<CodePannel client:idle />
	</body>
</html>